rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isSameUser(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.role == 'admin';
    }
    
    function isViewer() {
       return request.auth.token.role == 'viewer';
    }

    function isMemberOfAccount(accountId) {
        return request.auth.token.accountId == accountId;
    }

    match /accounts/{accountId} {
        allow read: if isSignedIn() && isMemberOfAccount(accountId);
        allow write: if isSignedIn() && isAdmin() && isMemberOfAccount(accountId);

        // This rule applies to all subcollections of an account
        match /{collection}/{docId} {
             allow read: if isSignedIn() && isMemberOfAccount(accountId);
             allow list: if isSignedIn() && isMemberOfAccount(accountId) && request.query.where.accountId == accountId;
             allow write: if isSignedIn() && isAdmin() && isMemberOfAccount(accountId);
        }
    }

    match /users/{userId} {
        allow get: if isSignedIn();
        allow create: if true; // Allows signup
        allow update: if isSignedIn() && isSameUser(userId);
        allow delete: if isSignedIn() && isAdmin();
        
        allow list: if isSignedIn() && isAdmin() && isMemberOfAccount(request.query.where.accountId);
    }
  }
}
