@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 14% 96%; /* #F0F0F0 */
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 180 20% 54%; /* #70A4A4 */
    --primary-foreground: 210 40% 98%;
    
    --secondary: 44 26% 83%; /* #DAD1C1 - Derived from gold for secondary elements */
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;
    
    --accent: 44 34% 57%; /* #B4A470 */
    --accent-foreground: 210 40% 98%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 180 20% 54%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
   
    --card: 240 5.9% 10%;
    --card-foreground: 210 40% 98%;
   
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
   
    --primary: 180 20% 54%;
    --primary-foreground: 210 40% 98%;
   
    --secondary: 44 15% 25%;
    --secondary-foreground: 210 40% 98%;
   
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 215 20% 65%;
   
    --accent: 44 34% 57%;
    --accent-foreground: 210 40% 98%;
   
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
   
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 180 20% 54%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
  }
}

/* Fix for Google Places Autocomplete suggestions appearing behind dialogs */
.pac-container {
    @apply z-[9999];
}
