@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 0 0% 9%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;
    
    --primary: 37 100% 50%;
    --primary-foreground: 0 0% 9%;
    
    --secondary: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    
    --destructive: 37 100% 50%;
    --destructive-foreground: 0 0% 9%;
    
    --border: 0 0% 85%;
    --input: 0 0% 89.8%;
    --ring: 37 100% 50%;
    
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;
   
    --card: 0 0% 20%;
    --card-foreground: 0 0% 98%;
   
    --popover: 0 0% 12%;
    --popover-foreground: 0 0% 98%;
   
    --primary: 37 100% 50%;
    --primary-foreground: 0 0% 9%;
   
    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 98%;
   
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 63.9%;
   
    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 98%;
   
    --destructive: 37 100% 50%;
    --destructive-foreground: 0 0% 9%;
   
    --border: 0 0% 25%;
    --input: 0 0% 18%;
    --ring: 37 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headline);
  }
}

/* Fix for Google Places Autocomplete suggestions appearing behind dialogs */
.pac-container {
    @apply z-[9999];
}
